.contacto{
  display: flex;
  gap: 24px;
}

.contacto h2{
  color: black;
}
.contacto div{
  width: 100%;
}
.datos p{
  font-size: 14px;
}
.datos ul li{
  font-size: 13px;
}
.formulario p{
  display: flex;
}
.formulario p label{
  min-width: 80px;
}
.formulario p label{
  display: flex;
  align-items: center;
}
.formulario p:nth-child(4){
  align-items: flex-start;
}
.formulario textarea{
  resize: none;
  height: 150px;
}
.contacto1{
  border: 1px solid #ccc;
  background-color: rgb(206, 178, 144);
  border-radius: 5px;
  width: 45%;
  text-align: center;
  padding: 13px;
  box-sizing:border-box ;
  
  

}
.datos{
  border: 1px solid #ccc;
  background-color: rgb(206, 178, 144);
  border-radius: 5px;
  width: 45%;
  padding: 13px;
  box-sizing:border-box ;
  
}