.homeimg{
  clear: both;
  margin-bottom: 1.5em;

}
.homeimg img{
  margin-left: 50px;
  border-radius: 89px 89px 89px 89px;
-webkit-border-radius: 89px 89px 89px 89px;
-moz-border-radius: 89px 89px 89px 89px;
}
h2{
    color: #2e64a1;
    font-weight: 400;
  }
  .bienvenidos{
    width: 75%;
    padding-right: 10px;
    box-sizing: border-box;
  }
  .testimonios{
    width: 25%;
    margin: -250px -50px;
  }
  .columnas{
    display: flex;
    justify-content: space-between;
  }
  .bienvenidos p{
    font-size: 20px;
  }
  .testimonio{
    border: 1px solid #ccc;
    background-color: rgb(206, 178, 144);
    border-radius: 5px;
    width: 100%;
    text-align: center;
    padding: 13px;
    box-sizing:border-box ;
    
  }
  .testimonio .cita{
    font-weight: bold;
    font-style: italic;
    font-size: 22px;
    display: block;
  }
  .testimonio .autor{
    font-size: 10px;
    text-align: center;
    display: block;
    margin: 12px 0;
  }
