.historia p{font-size: 12px;
}
.personas{
  display:flex;
  justify-content: center;
}
.persona{
  border: 1px solid #ccc;
  background-color: rgb(206, 178, 144);
  border-radius: 5px;
  width: 45%;
  text-align: center;
  padding: 13px;
  box-sizing:border-box ;
}
.persona img{
  border-radius: 50%;
  max-width: 60%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.persona h5,
.personah6{
  margin: 0;
  font-weight: normal;
  color: black;
}
.persona h5{
  font-size: 15px;
  margin-top:  5px;
}
.persona h6{
  font-size: 14px;
  font-style: italic;
}
.persona p{
  color: #666;
  font-size: 16px;
}
