body{
    font-family:'Opem Sans', sans-serif;
    font-size: 16px;
    line-height: 20px;
  }

  .holder{
    max-width: 960px;
    margin: 0 auto;
  }
  h2{
    color:  rgb(206, 178, 144);
    font-weight: 400;
}
h2{
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83;
}
